/* --------------------------------------
  Default Styling
-------------------------------------- */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #3a4454;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1, h2 {
  font-family: "Piazzolla", "Times New Roman", "YuMincho",
    "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  line-height: 1.4;
}

h2, h3 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a, input, textarea {
  transition: all 0.15s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* --------------------------------------
  Reusable Classes
-------------------------------------- */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container2 {
  max-width: 2560px;
  margin: 80px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: #FFF7F7;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.button-primary {
  background-color: #53687E;
}

.button-secondary {
  background: #6B4E71;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495B6F;
}

.button-secondary:hover,
.button-secondary:focus {
  background: #5D4462;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.social-links li + li {
  margin-left: 20px;
}

/* --------------------------------------
  Header
-------------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #8b0000;
  color: #FFF7F7;
  font-family: "Piazzolla", "Times New Roman", "YuMincho",
    "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-weight: 700;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav-menu {
  display: flex;
}

.header-nav-menu-item > a {
  color: #FFF7F7;
}

.header-nav-menu-item > a:hover,
.header-nav-menu-item > a:focus {
  color: #FFC4C4;
}

/* --------------------------------------
  Main - Hero
-------------------------------------- */

.main-hero {
  background-color: #8b0000;
}

.main-hero-highlight,
.main-hero-highlight-links a {
  color: #FFF7F7;
}

.main-hero-highlight-links p {
  font-size: 1.2rem;
}

.main-hero-highlight-links p > a {
  text-decoration: underline;
}

.main-hero-highlight-links a:hover,
.main-hero-highlight-links a:focus {
  color: #FFC4C4;
}

/* --------------------------------------
  Main - Research
-------------------------------------- */

.main-research {
  background-color: #FFF7F7;
}

.main-research-item:last-child {
  margin-bottom: 20;
}

.main-research-item-img img {
  border-radius: 10px;
}

.main-research-item-img.primary img {
  box-shadow:
    1px 1px 10px rgba(0, 0, 0, 15%),
    10px 10px 0 #6080a2;
}

.main-research-item-img.secondary img {
  box-shadow:
    1px 1px 10px rgba(0, 0, 0, 15%),
    10px 10px 0 #6B4E71;
}

.main-research-item-img.tertiary img {
  box-shadow:
    1px 1px 10px rgba(0, 0, 0, 15%),
    10px 10px 0 #639e6c;
}

/* --------------------------------------
  Main - Publication
-------------------------------------- */

.main-publication {
  background-color: #FFF;
}

ol.paper {
  padding: 0;
  font: 25px/1.6 'arial narrow', sans-serif;
  width:500px;
  list-style: none;
  padding-right: 0;
}

ol.paper li {
  position: relative;
  padding: 10px 10px 10px 10px;
  margin-bottom:5px;
  border-left: solid 5px #548959;
  background: #d5e6dd;
  color: #548959;
  font-weight: bold;
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
}

.main-publication-addition-skills ul {
  padding-left: 20px;
  list-style: disc;
}

.main-publication-addition-follow a {
  color: #C2B2B4;
}

.main-publication-addition-follow a:hover,
.main-publication-addition-follow a:focus {
  color: #AB9698;
}

/* --------------------------------------
  Main - Skill
-------------------------------------- */

.main-skill {
  background-color: #FFF;
}

div.main-skill-container.container {
  align-items: center;
}

ul.skill-lists {
  font: 20px/1.6 'arial narrow', sans-serif;
  padding: 10px 10px 10px 10px;
  color: #448ccb;
  background: #ecf3fa;
  border: solid 5px #adcce8;
  border-radius: 10px;
  list-style: none;
  align-items: center;
}

ul.skill-lists li {
  display: inline-block;
  position: relative;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
  border-bottom: dashed 1px #448ccb;
}

ul.skill-lists li:before{
  content: "・";
  position: absolute;
  left: 0px;
}

.main-skill-description {
  display: inline-grid;
}

.main-skill-addition-skills skill-lists {
  padding: 0;
}
.main-skill-addition-skills skill-list {
  color: #404040;
  border-left: solid 6px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

/* --------------------------------------
  Footer
-------------------------------------- */

.footer {
  background-color: #8b0000;
  color: #FFF7F7;
}

.footer-info-nav-menu ul {
  font-family: "Piazzolla", "Times New Roman", "YuMincho",
    "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.footer-info-nav-menu a {
  color: #FFF7F7;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-info-nav-menu a:hover,
.footer-info-nav-menu a:focus {
  color: #9C9DA5;
}

.footer-info-follow a {
  color: #9D9DA5;
  font-size: 1.5rem;
}

.footer-info-follow a:hover,
.footer-info-follow a:focus {
  color: #81838D;
}

.footer-info-copy {
  color: #9C9DA5;
}

/* --------------------------------------
  Page - Work
-------------------------------------- */

.work h1 {
  margin-bottom: 0;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.main-article-container {
  max-width: 750px;
}

.main-article-topic {
  margin-bottom: 60px;
}

.main-article-topic:last-child {
  margin-bottom: 0;
}

.main-article-topic img {
  margin-bottom: 30px;
  border-radius: 5px;
}
