/* --------------------------------------
  Mobile Styling
-------------------------------------- */

h1, h2 {
  font-size: 2rem;
}

h1 {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 40px;
}

h2 > i {
  margin-right: 10px;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* --------------------------------------
  Reusable Classes
-------------------------------------- */

.container {
  padding: 0 20px;
}

/* --------------------------------------
  Header
-------------------------------------- */

.header {
  padding: 15px 20px;
}

.header-logo-img {
  width: 80px;
}

.header-logo-title {
  display: none;
}

.header-nav-menu-item {
  margin-left: 20px;
}

/* --------------------------------------
  Main - Hero
-------------------------------------- */

.main-hero {
  padding: 100px 0 80px;
}

.main-hero-highlight-links p {
  margin-bottom: 20px;
}

.main-hero-highlight-links p > br {
  display: none;
}

.main-hero-img {
  display: none;
}

/* --------------------------------------
  Main - Works
-------------------------------------- */

.main-research {
  padding: 80px 0;
}

.main-research-item {
  margin-bottom: 50px;
}

.main-research-item-img {
  margin-bottom: 40px;
}

.main-research-item-text p:last-of-type {
  margin-bottom: 30px;
}

/* --------------------------------------
  Main - About
-------------------------------------- */

.main-publication {
  padding: 80px 0 60px;
}

.main-publication-img {
  text-align: center;
}

.main-publication-img .mobile {
  max-width: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.main-publication-img .tablet-and-up {
  display: none;
}

.main-publication-description,
.main-publication-addition-skills {
  margin-bottom: 30px;
}

.main-publication-addition-skills ul,
.main-publication-addition-skills li {
  margin-bottom: 10px;
}

/* --------------------------------------
    Main - Skill
  -------------------------------------- */

  .main-skill {
    padding: 100px 0;
  }

  .main-skill-img .mobile {
    display: none;
  }

  .main-skill-img .tablet-and-up {
    display: block;
    width: 100%;
    margin-bottom: 60px;
  }

  .main-skill-container {
    display: flex;
  }

  .main-skill-description,
  .main-skill-addition {
    width: 50%;
  }

  .main-skill-description {
    margin-right: 50px;
    margin-bottom: 0;
  }

/* --------------------------------------
  Footer
-------------------------------------- */

.footer {
  padding: 60px 0 10px;
}

.footer-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-info-nav,
.footer-info-follow {
  margin-bottom: 40px;
}

.footer-info-nav {
  display: flex;
  align-items: center;
}

.footer-info-nav-menu ul {
  display: flex;
  align-items: center;
}

.footer-info-nav-menu li {
  margin-left: 20px;
}

.footer-info-nav-img {
  width: 60px;
}

/* --------------------------------------
  Page - Work
-------------------------------------- */

.main-article {
  padding: 80px 0;
}